In [143]:
import pandas as pd
import numpy as np

In [144]:
# df = pd.read_csv('./data/zeda/Merged-tiny.csv', index_col=0)
df = pd.read_csv('./data/zeda/Merged-tiny.csv')
df.head()

,Time,WS_S1,WS_S4,FLOW_S25A,GATE_S25A,HWS_S25A,TWS_S25A,FLOW_S25B,GATE_S25B,HWS_S25B,TWS_S25B,FLOW_S26,GATE_S26,HWS_S26,TWS_S26,PUMP_S26,mean
0,1/1/10 00:00,0.33,0.34,0.0,0.0,2.17,0.49,0.0,0.0,2.84,0.58,0.0,0.0,2.78,0.505,0.0,0.0
1,1/1/10 00:10,0.24,0.24,0.0,0.0,2.17,0.49,0.0,0.0,2.84,0.46,0.0,0.0,2.78,0.400,0.0,0.0
2,1/1/10 00:20,0.15,0.12,0.0,0.0,2.17,0.40,0.0,0.0,2.84,0.34,0.0,0.0,2.78,0.290,0.0,0.0
3,1/1/10 00:30,0.03,0.02,0.0,0.0,2.17,0.30,0.0,0.0,2.84,0.24,0.0,0.0,2.78,0.200,0.0,0.0
4,1/1/10 00:40,-0.05,-0.06,0.0,0.0,2.17,0.20,0.0,0.0,2.84,0.15,0.0,0.0,2.78,0.080,0.0,0.0

In [145]:
print(df.shape)

(4464, 17)

In [146]:
datetime_series = pd.to_datetime(df['Time'])
df['Timestamp'] = pd.DatetimeIndex(datetime_series.values)
df = df.set_index('Timestamp')
df

,Time,WS_S1,WS_S4,FLOW_S25A,GATE_S25A,HWS_S25A,TWS_S25A,FLOW_S25B,GATE_S25B,HWS_S25B,TWS_S25B,FLOW_S26,GATE_S26,HWS_S26,TWS_S26,PUMP_S26,mean
Timestamp,,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,1/1/10 00:00,0.33,0.34,0.0,0.0,2.17,0.49,0.0,0.0,2.84,0.58,0.0,0.0,2.78,0.505,0.0,0.0
2010-01-01 00:10:00,1/1/10 00:10,0.24,0.24,0.0,0.0,2.17,0.49,0.0,0.0,2.84,0.46,0.0,0.0,2.78,0.400,0.0,0.0
2010-01-01 00:20:00,1/1/10 00:20,0.15,0.12,0.0,0.0,2.17,0.40,0.0,0.0,2.84,0.34,0.0,0.0,2.78,0.290,0.0,0.0
2010-01-01 00:30:00,1/1/10 00:30,0.03,0.02,0.0,0.0,2.17,0.30,0.0,0.0,2.84,0.24,0.0,0.0,2.78,0.200,0.0,0.0
2010-01-01 00:40:00,1/1/10 00:40,-0.05,-0.06,0.0,0.0,2.17,0.20,0.0,0.0,2.84,0.15,0.0,0.0,2.78,0.080,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-01-31 23:10:00,1/31/10 23:10,2.24,2.21,0.0,0.0,2.01,2.45,0.0,0.0,2.87,2.46,0.0,0.0,2.76,2.380,0.0,0.0
2010-01-31 23:20:00,1/31/10 23:20,2.17,2.12,0.0,0.0,2.02,2.38,0.0,0.0,2.87,2.38,0.0,0.0,2.76,2.300,0.0,0.0
2010-01-31 23:30:00,1/31/10 23:30,2.06,2.01,0.0,0.0,2.02,2.29,0.0,0.0,2.87,2.28,0.0,0.0,2.76,2.210,0.0,0.0
2010-01-31 23:40:00,1/31/10 23:40,1.95,1.90,0.0,0.0,2.03,2.19,0.0,0.0,2.87,2.18,0.0,0.0,2.76,2.130,0.0,0.0
2010-01-31 23:50:00,1/31/10 23:50,1.83,1.78,0.0,0.0,2.03,2.08,0.0,0.0,2.88,2.04,0.0,0.0,2.76,1.970,0.0,0.0

In [147]:
df.index.name

'Timestamp'

In [148]:
# df.resample('H', on='Timestamp').mean()
# df.groupby(Timestamp.hour).mean()
# df
hourly = df.resample('H').mean()
hourly

,WS_S1,WS_S4,FLOW_S25A,GATE_S25A,HWS_S25A,TWS_S25A,FLOW_S25B,GATE_S25B,HWS_S25B,TWS_S25B,FLOW_S26,GATE_S26,HWS_S26,TWS_S26,PUMP_S26,mean
Timestamp,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,0.086667,0.078333,0.0,0.0,2.170000,0.331667,0.0,0.0,2.840000,0.298333,0.0,0.0,2.780000,0.244167,0.0,0.0
2010-01-01 01:00:00,-0.506667,-0.481667,0.0,0.0,2.170000,-0.206667,0.0,0.0,2.836667,-0.310000,0.0,0.0,2.783333,-0.358333,0.0,0.0
2010-01-01 02:00:00,-0.918333,-0.805000,0.0,0.0,2.165000,-0.621667,0.0,0.0,2.838333,-0.743333,0.0,0.0,2.785000,-0.768333,0.0,0.0
2010-01-01 03:00:00,-0.903333,-0.751667,0.0,0.0,2.145000,-0.716667,0.0,0.0,2.838333,-0.743333,0.0,0.0,2.785000,-0.776667,0.0,0.0
2010-01-01 04:00:00,-0.415000,-0.225000,0.0,0.0,2.125000,-0.298333,0.0,0.0,2.840000,-0.260000,0.0,0.0,2.786667,-0.286667,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-01-31 19:00:00,1.140000,1.275000,0.0,0.0,1.960000,1.276667,0.0,0.0,2.875000,1.325000,0.0,0.0,2.760000,1.260000,0.0,0.0
2010-01-31 20:00:00,1.760000,1.883333,0.0,0.0,1.963333,1.906667,0.0,0.0,2.880000,1.941667,0.0,0.0,2.760000,1.875000,0.0,0.0
2010-01-31 21:00:00,2.223333,2.301667,0.0,0.0,1.978333,2.388333,0.0,0.0,2.873333,2.425000,0.0,0.0,2.760000,2.355000,0.0,0.0
2010-01-31 22:00:00,2.391667,2.413333,0.0,0.0,1.998333,2.570000,0.0,0.0,2.871667,2.590000,0.0,0.0,2.760000,2.523333,0.0,0.0
2010-01-31 23:00:00,2.090000,2.051667,0.0,0.0,2.020000,2.316667,0.0,0.0,2.870000,2.308333,0.0,0.0,2.760000,2.240000,0.0,0.0

In [149]:
# df = pd.read_csv('./data/zeda/Merged-tiny.csv', index_col=0)
merged = pd.read_csv('./data/zeda/Merged.csv')
merged.head()

,Time,WS_S1,WS_S4,FLOW_S25A,GATE_S25A,HWS_S25A,TWS_S25A,FLOW_S25B,GATE_S25B,HWS_S25B,TWS_S25B,FLOW_S26,GATE_S26,HWS_S26,TWS_S26,PUMP_S26,mean
0,1/1/10 00:00,0.33,0.34,0.0,0.0,2.17,0.49,0.0,0.0,2.84,0.58,0.0,0.0,2.78,0.505,0.0,0.0
1,1/1/10 00:10,0.24,0.24,0.0,0.0,2.17,0.49,0.0,0.0,2.84,0.46,0.0,0.0,2.78,0.400,0.0,0.0
2,1/1/10 00:20,0.15,0.12,0.0,0.0,2.17,0.40,0.0,0.0,2.84,0.34,0.0,0.0,2.78,0.290,0.0,0.0
3,1/1/10 00:30,0.03,0.02,0.0,0.0,2.17,0.30,0.0,0.0,2.84,0.24,0.0,0.0,2.78,0.200,0.0,0.0
4,1/1/10 00:40,-0.05,-0.06,0.0,0.0,2.17,0.20,0.0,0.0,2.84,0.15,0.0,0.0,2.78,0.080,0.0,0.0

In [150]:
merged.shape

(578592, 17)

In [151]:
datetime_series = pd.to_datetime(merged['Time'])
merged['Timestamp'] = pd.DatetimeIndex(datetime_series.values)
merged = merged.set_index('Timestamp')
merged

,Time,WS_S1,WS_S4,FLOW_S25A,GATE_S25A,HWS_S25A,TWS_S25A,FLOW_S25B,GATE_S25B,HWS_S25B,TWS_S25B,FLOW_S26,GATE_S26,HWS_S26,TWS_S26,PUMP_S26,mean
Timestamp,,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,1/1/10 00:00,0.33,0.34,0.0,0.0,2.17,0.49,0.0,0.0,2.84,0.58,0.00,0.0,2.78,0.505,0.0,0.0
2010-01-01 00:10:00,1/1/10 00:10,0.24,0.24,0.0,0.0,2.17,0.49,0.0,0.0,2.84,0.46,0.00,0.0,2.78,0.400,0.0,0.0
2010-01-01 00:20:00,1/1/10 00:20,0.15,0.12,0.0,0.0,2.17,0.40,0.0,0.0,2.84,0.34,0.00,0.0,2.78,0.290,0.0,0.0
2010-01-01 00:30:00,1/1/10 00:30,0.03,0.02,0.0,0.0,2.17,0.30,0.0,0.0,2.84,0.24,0.00,0.0,2.78,0.200,0.0,0.0
2010-01-01 00:40:00,1/1/10 00:40,-0.05,-0.06,0.0,0.0,2.17,0.20,0.0,0.0,2.84,0.15,0.00,0.0,2.78,0.080,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 23:10:00,12/31/20 23:10,1.88,1.71,0.0,0.0,1.96,1.90,0.0,0.0,2.91,2.01,317.03,0.0,2.56,1.980,0.0,0.0
2020-12-31 23:20:00,12/31/20 23:20,1.81,1.64,0.0,0.0,1.97,1.83,0.0,0.0,2.91,1.91,338.48,0.0,2.56,1.880,0.0,0.0
2020-12-31 23:30:00,12/31/20 23:30,1.69,1.55,0.0,0.0,1.97,1.71,0.0,0.0,2.92,1.81,354.57,0.0,2.54,1.780,0.0,0.0
2020-12-31 23:40:00,12/31/20 23:40,1.60,1.46,0.0,0.0,1.97,1.64,0.0,0.0,2.91,1.70,382.40,0.0,2.53,1.650,0.0,0.0
2020-12-31 23:50:00,12/31/20 23:50,1.49,1.35,0.0,0.0,1.97,1.52,0.0,0.0,2.91,1.59,402.63,0.0,2.52,1.580,0.0,0.0

In [152]:
merged.index.name

'Timestamp'

In [154]:
Merged_hourly = merged.resample('H').mean()
Merged_hourly

,WS_S1,WS_S4,FLOW_S25A,GATE_S25A,HWS_S25A,TWS_S25A,FLOW_S25B,GATE_S25B,HWS_S25B,TWS_S25B,FLOW_S26,GATE_S26,HWS_S26,TWS_S26,PUMP_S26,mean
Timestamp,,,,,,,,,,,,,,,,
2010-01-01 00:00:00,0.086667,0.078333,0.0,0.0,2.170000,0.331667,0.0,0.0,2.840000,0.298333,0.000000,0.0,2.780000,0.244167,0.0,0.0
2010-01-01 01:00:00,-0.506667,-0.481667,0.0,0.0,2.170000,-0.206667,0.0,0.0,2.836667,-0.310000,0.000000,0.0,2.783333,-0.358333,0.0,0.0
2010-01-01 02:00:00,-0.918333,-0.805000,0.0,0.0,2.165000,-0.621667,0.0,0.0,2.838333,-0.743333,0.000000,0.0,2.785000,-0.768333,0.0,0.0
2010-01-01 03:00:00,-0.903333,-0.751667,0.0,0.0,2.145000,-0.716667,0.0,0.0,2.838333,-0.743333,0.000000,0.0,2.785000,-0.776667,0.0,0.0
2010-01-01 04:00:00,-0.415000,-0.225000,0.0,0.0,2.125000,-0.298333,0.0,0.0,2.840000,-0.260000,0.000000,0.0,2.786667,-0.286667,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31 19:00:00,1.400000,1.373333,0.0,0.0,1.920000,1.405000,0.0,0.0,2.870000,1.460000,422.851667,0.0,2.481667,1.441667,0.0,0.0
2020-12-31 20:00:00,1.778333,1.760000,0.0,0.0,1.928333,1.793333,0.0,0.0,2.883333,1.850000,338.836667,0.0,2.511667,1.815000,0.0,0.0
2020-12-31 21:00:00,2.053333,1.996667,0.0,0.0,1.936667,2.071667,0.0,0.0,2.896667,2.138333,271.771667,0.0,2.560000,2.110000,0.0,0.0
2020-12-31 22:00:00,2.101667,1.986667,0.0,0.0,1.951667,2.105000,0.0,0.0,2.906667,2.188333,264.540000,0.0,2.588333,2.168333,0.0,0.0
2020-12-31 23:00:00,1.738333,1.586667,0.0,0.0,1.966667,1.763333,0.0,0.0,2.911667,1.846667,348.185000,0.0,2.550000,1.820000,0.0,0.0

In [155]:
Merged_hourly.to_csv('./data/zeda/Merged_hourly.csv')